<% if @movie.errors.any? %>
  <h4> The following errors prevented the Movie ! </h4>
  <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li class = "text-danger"> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model:@movie, local: true, data: {turbo: false}) do |f| %>

  <div class = "field form-group" >
    <strong><%= f.label :movie_image %></strong>
    <%= f.file_field :image, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :movie_title %></strong>
    <%= f.text_field :movie_title, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :movie_description %></strong>
    <%= f.text_area :movie_description, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :category %></strong>
    <%= f.select :category_id, Category.all.map { |c| [c.category_name, c.id]}, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :movie_duration%></strong>
    <%= f.number_field :movie_duration, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :movie_language %></strong>
    <%= f.text_field :movie_language, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :movie_release_date %></strong>
    <%= f.date_field :movie_release_date, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :movie_country %></strong>
    <%= f.text_field :movie_country, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :movie_rating%></strong>
    <%= f.number_field :movie_rating, class:"form-control" %>
  </div><br>

  <div class="text-center">
    <div class = "action" >
      <%= f.button :submit, class:"btn btn-success" %>
    </div>
  </div><br>

  <div class="text-center">
    <div class = "field form-group" >
      <%= link_to 'Dismiss', { controller: 'movies', action: 'index'}, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>