<div class="d-flex justify-content-center p-5">
  <div class="card mb-3" style="max-width: 885px;">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag @movie.image, class:"img-fluid rounded-start" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @movie.movie_title %></h5><br>
          <p class="card-text"><strong>Description : </strong><%= @movie.movie_description %></p>
          <p class="card-text"><strong>Duration : </strong><%= @movie.movie_duration %> Minutes</p>
          <p class="card-text"><strong>Language : </strong><%= @movie.movie_language %></p>
          <p class="card-text"><strong>Release Date : </strong><%= @movie.movie_release_date %></p>
          <p class="card-text"><strong>Country : </strong><%= @movie.movie_country %></p>
          <p class="card-text"><strong>Category : </strong><%= @movie.category.category_name %></p>
          <p class="card-text"><strong>Ratings : </strong><%= @movie.movie_rating %></p>
        </div>
        <div class="card-body btn-group" role="group">
          <%= link_to 'Edit', edit_movie_path(@movie), class: "text-decoration-none btn btn-dark" %>
          <%= button_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-danger" %>
          <%= link_to 'Go Back', { controller: 'movies', action: 'index'}, class: "btn btn-primary" %>
          <%= link_to 'Book', new_show_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>