<% if @booking.errors.any? %>
  <h4> The following errors prevented the Booking ! </h4>
  <ul>
    <% @booking.errors.full_messages.each do |msg| %>
      <li class = "text-danger"> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model:@booking, local: true, data: {turbo: false}) do |f| %>

  <div class = "field form-group" >
    <strong><%= f.label :booking_date %></strong>
    <%= f.date_field :booking_date, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :number_of_seats %></strong>
    <%= f.number_field :number_of_seats, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <strong><%= f.label :show %></strong>
    <%= f.select :show_id, Show.all.map { |c| [c.show_date, c.id]}, class:"form-control" %>
  </div><br>

  <div class = "field form-group" >
    <% full_name = "#{current_user.first_name} #{current_user.last_name}" %>

    <strong><%= f.label :user %></strong> <%= full_name %>
    <%#= f.select :user_id, User.all.map { |c| [c.email, c.id]}, class:"form-control" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div><br>

  <div class="field form-group">
  <strong><%= f.label :movie %></strong>
  <%= f.collection_select :movie_id, Movie.all, :id, :movie_title, { prompt: "Select a Movie" }, class: "form-control" %>
</div><br>

<div class="field form-group">
  <strong><%= f.label :theater %></strong>
  <%= f.collection_select :theater_id, Theater.all, :id, :theater_name, { prompt: "Select a Theater" }, class: "form-control" %>
</div><br>


  <div class="text-center">
    <div class = "action" >
      <%= f.button :submit, class:"btn btn-success" %>
    </div>
  </div><br>

  <div class="text-center">
    <div class = "field form-group" >
      <%= link_to 'Dismiss', { controller: 'bookings', action: 'index'}, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>