<table class="table table-bordered m-4 mb-5">
  <thead>
    <tr>
      <th>Booking Date</th>
      <th>Number of Seats</th>
      <th>Booking Status</th>
      <th>Show</th>
      <th>User</th>
      <th>Movie</th>
      <th>Theater</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.booking_date, booking_path(booking.show) %></td>
        <td><%= booking.number_of_seats %></td>
        <td><%= booking.booking_status %></td>
        <td><%= booking.show.show_date %></td>
        <td><%= booking.user.email %></td>
        <td><%= booking.movie.movie_title %></td>
        <td><%= booking.theater.theater_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
