<h2 class="text-center mt-4">Show Details</h2>

<% if @shows.count == 0 %>
  <div class="d-flex justify-content-center">
    <div class="my-4">
      <img src="https://cdn.dribbble.com/users/88213/screenshots/8560585/media/7263b7aaa8077a322b0f12a7cd7c7404.png?compress=1&resize=800x600&vertical=top" alt="image couldn't loaded!">
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="my-5">
      <%= link_to 'Back', { controller: 'movies', action: 'index'}, class: "btn btn-primary" %>
    </div>
  </div>
<% else %>

  <% @shows.each do |show| %>
    <div class="justify-content-center mt-4">
      <div class="card shadow mb-3">
        <div class="card-body">      
          <h4 class="card-title"><%= show.movie.movie_title %></h4>
          <div class="row mt-3">
            <div class="col-lg-7">
              <h4><span class="badge bg-primary"><strong>Total Seats : </strong><%= show.total_seats %></span></h4>
              <h4><span class="badge bg-primary"><strong>Available Seats : </strong><%= show.remaining_seats %></span></h4>
            </div>
            <div class="col-lg-5">
              <h4><span class="badge"><%= link_to 'Book Now', new_movie_show_booking_path(@movie, show), class: "text-decoration-none btn btn-success" %></span></h4>
            </div>
          </div>
          <p class="card-title"><strong>Show Date : </strong><%= show.show_date %></p>
          <p class="card-title"><strong>Show Time : </strong><%= show.show_time.strftime("%H:%M") %></p>
          <p class="card-title"><strong>Show Price : </strong><%= number_to_currency(show.show_price) %></p>
          <p class="card-title"><strong>Theater Name : </strong><%= show.theater.theater_name %></p>
          
          <p class="card-text"><%= link_to 'Back', { controller: 'movies', action: 'index'}, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-4">
    </div>
  <%end%>

<% end %>
